:root {
    --main-black: #24292E;
    --second-black: #2B3137;
    --green: #28A745;
    --blue: #0366D6;
    /* Form */
    --white-soft: #F2F2F2;
    --dark-grey: #353C43;
    /* Separator */
    --grey-separator: #e1e4e8;
}