.App {
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  height: 100vh;
  font-size: 17px;
}

h3, h4 {
  font-weight: 600;
  margin: 0;
}

h3 {
  font-size: 20px;
}

ul {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

.text-small {
  font-size: 14px;
}

.text-gray {
  color: #586069 !important;
}

.btn-success.focus, .btn-success:focus {
  box-shadow: 0 0 0 #1b1b1b !important;
}

.btn:focus, .btn:active, .dropdown-toggle:focus {
  outline: none !important;
  box-shadow: none !important;
}

@media (prefers-reduced-motion: no-preference) {
  .boilerhub-logo {
    animation: boilerhub-logo-spin infinite 2s ;
  }
}

/* @keyframes boilerhub-logo-spin {
  50% {
    visibility: hidden;
    opacity: 0;
  }
  50% {
    transform: scale(0.4);
  }
} */
