.App {
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  height: 100vh;
}

/* .boilerhub-logo {
  height: 40vmin;
  pointer-events: none;
  transform: scale(0.5);
} */

/* @media (prefers-reduced-motion: no-preference) {
  .boilerhub-logo {
    animation: boilerhub-logo-spin infinite 2s ;
  }
}
 */
/* header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

header > p {
  font-size: 20px;
  margin: 0;
  transform: translateY(-20px);
}*/

/* @keyframes boilerhub-logo-spin {
  50% {
    visibility: hidden;
    opacity: 0;
  }
  50% {
    transform: scale(0.4);
  }
} */
